{% extends 'base.twig' %}

{% set class = 'carousel-narrow' %}
{% set title = 'Территории игроков' %}

{% block content %}
    {% include 'components/header.twig' %}

    <div class="container content">
        <h1>{{ title }}</h1>
        <table class="stats area-table">
            <thead>
                <tr>
                    <td></td>
                    <td>
                        <a href="{{ (sort == 'nickname' and sort_dir == 'asc') ? query({'sort':'nickname', 'dir':'desc'}) : query({'sort':'nickname', 'dir':'asc'}) }}">
                            Территория
                            {% if sort == 'nickname' %}
                                <span class="caret {{ sort_dir == 'desc' ? 'caret-up'}}"></span>
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="{{ (sort == 'area' and sort_dir == 'asc') ? query({'sort':'area', 'dir':'desc', 'p': current_page}) : query({'sort':'area', 'dir':'asc', 'p': current_page}) }}">
                            Площадь
                            {% if sort == 'area' %}
                                <span class="caret {{ sort_dir == 'desc' ? 'caret-up'}}"></span>
                            {% endif %}
                        </a>
                    </td>
                </tr>
            </thead>
            <tbody>
                {% if list|length <= 0 and misc|length <= 0 %}
                    <tr>
                        <td class="empty" colspan="3">Тут пусто</td>
                    </tr>
                {% else %}
                    {% for nickname, data in list %}
                        {% set list_index = loop.index0 %}
                        <tr class="collapse-toggle {{ list_index is even ? 'dark' : '' }}" id="area-collapse-{{ list_index }}">
                            <td class="index"><span class="caret area-caret-right"></span></td>
                            {% set label = (nickname == 'social') ? 'Государственные' : nickname %}
                            <td>{{ label }}</td>
                            <td class="right">{{ (data.total_area)|number_format(1, ',', ' ') }}</td>
                        </tr>
                        {% for area in data.areas %}
                            <tr class="collapse child area-collapse-{{ list_index }} {{ loop.index0 == 0 ? 'first' }} {{ loop.last ? 'last' }} {{ loop.index0 is even ? 'dark' }}">
                                <td></td>
                                <td>{{ area.label }}</td>
                                <td class="right">{{ (area.area)|number_format(1, ',', ' ') }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    
                    {% for area in misc %}
                        <tr>
                            <td class="index"><span class="caret area-caret-right"></span></td>
                            <td>{{ area.label }}</td>
                            <td class="right">{{ (area.area)|number_format(1, ',', ' ') }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

    {% include 'components/footer.twig' %}
    
    <script>
        (function() {
            
            function onLoad() {
                $('.collapse-toggle').click(function() {
                    var self = $(this);
                    var childrenSelector = '.' + self.attr('id');
                    self.find('.caret').toggleClass('area-caret-right').toggleClass('area-caret-down');
                    $(childrenSelector).toggleClass('collapse');
                });
            };
            
            window.addEventListener('load', onLoad);
        }());
    </script>
{% endblock %}
